@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to top, #F2E63F ,#FCA242,#e6476c);
    background-attachment: fixed ;
}
main{
    background-color: white;
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.576);
}
h1{
    color: #8042FC;
    text-align: center;
    text-shadow: 1px 1px 1px #371d6bb4;
}
h2{
    color:#53CAF5;
}
p{
    text-align: justify;
}